body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form1 {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #070404;
    border-radius: 8px;
    max-width: 500px;
    margin:0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form1 p {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 535px;
}
.submit-btn:hover {
    background-color: #0056b3;
}
